{% extends 'beatcodeApp/main.html' %}
{% block content %}
<div class="container">
    <h1><strong>Welcome back, {{ user.first_name }}.</strong></h1>
    <h5 class="text-secondary mb-3">Here you'll find a breakdown of problems completed, overall progress, and more.</h5>
    <div class="row gx-5">
        <div class="col-md-7">
            <div class="row mb-3">
                <!-- chart showing problems completed by user -->
                <h5>Problems Completed</h5>
                <div class="bg-white rounded-4">
                    <canvas id="doughnut-chart" width="800" height="450"></canvas>
                </div>
            </div>
            <div class="row mb-3">
                <!-- table showing categories least recently practiced -->
                <h5>Least Practiced Categories</h5>
                <div class="bg-white rounded-4">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Category</th>
                                <th>Most Recent Submission</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category, date in least_practiced %}
                            <tr>
                                <td>{{ category }}</td>
                                <td>{{ date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row mb-3">
                <!-- Show the current streak -->
                <h5>Problem Streak</h5>
                <div class="bg-white rounded-4 text-center p-4">
                    <h1>Insert Streak</h1>
                </div>
            </div>
            <div class="row mb-3">
                <!-- Todo component -->
                <h5>TODOs</h5>
                <div class="bg-white rounded-4 text-center p-4">
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">TODO #</th>
                              <th scope="col">Problem</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for p in todo_problems %}
                                <tr>
                                    <td>{{ forloop.counter}} </td>
                                    <td>{{ p.problem }}</td>
                                </tr>
                            {% endfor %}
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>
    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
            labels: JSON.parse('{{ categories|escapejs }}'),
            datasets: [
                {
                    label: "Problems",
                    backgroundColor: ["#F94144", "#F3722C", "#F8961E", "#F9844A", "#F9C74F", "#90BE6D",
                        "#43AA8B", "#4D908E", "#577590", "#277DA1"],
                    data: JSON.parse('{{ problem_freq|escapejs }}')
                }
            ]
        },
        options: {
            title: {
                display: false,
            }
        }
    });
</script>


{% endblock%}