{% extends 'beatcodeApp/main.html' %}
{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">TODO #</th>
              <th scope="col">Problem</th>
            </tr>
          </thead>
          <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ todo.name }}</td>
                    <td><td>
                      <form action = "." method = "POST">
                        {% csrf_token %}
                        <input class="btn btn-default btn-danger" name="delete" type="submit" value = "DELETE"/>
                        <input type="hidden" value="{{ todo.name.id }}" name="problem_id">
                      </form>
                    </td></td>
                </tr>
            {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}